/* 全体のスタイル */
.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
  width: 1000px; /* 幅を100%に設定 */
  height: auto; /* 高さを100%に設定 */
  margin: 0; /* マージンをゼロに */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* ボックスサイズを揃える */
  display: flex;
  flex-direction: column;
  justify-content: center; /* コンテンツを中央に配置 */
  align-items: center; /* 横方向も中央に配置 */
}

/* フォームのスタイル */
.product-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* 水平方向に中央揃え */
  margin-bottom: 20px; /* 下部の余白 */
}

input, textarea {
  margin: 10px;
  padding: 12px;
  width: 500px;
  max-width: 600px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

textarea {
  height: 100px;
}

input:focus, textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* ボタンのスタイル */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s, box-shadow 0.25s;
}

button:hover {
  background-color: #333;
  border-color: #646cff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: 4px auto #646cff;
}

/* 商品リストのスタイル */
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  max-height: 200px; /* リストの最大高さを設定 */
  overflow-y: auto; /* コンテンツが最大高さを超えた場合に垂直スクロール */
}

li {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  background-color: #f1f1f1;
}

li button {
  background-color: #ff4d4d;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

li button:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}

/* 登録ボタンのスタイル */
.add-button {
  margin-top: 20px;
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

/* CSV選択ボタン */
.save-button {
  margin-top: 20px;
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.save-button:hover {
  background-color: #0056b3;
  border-color: #00409a;
}

/* レスポンシブデザイン用メディアクエリ */
@media (min-width: 768px) {
  input, textarea {
    max-width: 600px;
  }

  button {
    max-width: 250px;
  }
}

@media (max-width: 767px) {
  input, textarea {
    max-width: 90%;
  }
  
  button {
    max-width: 100%;
  }
}